[submodule "toolchain/tests/rv32im-test-vectors/riscv-tests"]
	path = crates/toolchain/tests/rv32im-test-vectors/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "crates/sdk/contracts/lib/forge-std"]
	path = crates/sdk/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
